.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 45em;
  align-items: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.totals {
  text-align: right;
  font-size: 2rem;
}

.empty-message {
  font-size: 3em;
}
