.wrapper {
  display: flex;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em 2em;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 67.5vh;
  align-items: center;
}

.picture {
  height: 25em;
  width: 25em;
  position: relative;
  min-height: 25em;
  min-width: 25em;
  margin: 0 3em;
}

.title {
  margin-top: 1em;
  font-size: 2rem;
}

.rating {
  padding: 0.5em 0;
  font-size: 1.5rem;
}

.description {
  font-size: 1.5rem;
  width: 25em;
  font-weight: 300;
  word-wrap: break-word;
}

.price {
  padding: 1em 0;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .description {
    width: 14em;
  }
  .picture {
    height: 10em;
    width: 10em;
    min-height: 15em;
    min-width: 15em;
  }
}
